body {
    background-color: black;
    color: white;

}
 h1 {
    color: white;
 }

 div {
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 300px;
 }


.preview {
    height: auto;
    width: 250px;
}

.preview.cookies{
    height: 250px;
    width: auto;
}
.main-img {
    height: auto;
    width: 400px;
}

.link {
    color: blue;
    color
}