
body {
    background-color: #181818;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
 h1 {
    color: white;
 }

 div {
    background-color: #181818;
    height: 300px;
    width: 300px;
 }


.preview {
    height: auto;
    width: 250px;
}

.preview.cookies{
    height: 250px;
    width: auto;
}
.main-img {
    height: auto;
    width: 400px;
}

.link {
    color: rgb(32, 32, 240);
}